#content{
    
    width:1200px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#register{
  
    width:600px;
    background-color:#F2EEEB;
    margin-right:auto;
    margin-left:auto;
    text-align:left;
    border-top:4px solid #7D1935;
    border-right:4px solid #7D1935;
    border-bottom:8px solid #7D1935;
    border-left:8px solid #7D1935;
}

#registerSmall{
    
    width:500px;
    margin-left:20px;
}

h2{
    
    font-family: 'Cardo';
    font-size:160%;
}

h1{
    
    margin-right:-30px;
    font-weight:bold;
    font-size:280%;
    font-family: 'Old Standard TT';
    color:#5B0101;
}

#register p{
    
    font-family: 'Old Standard TT';
}

#newMember, #searchButton, #changeButton, #deleteButton, #allMembers, #ok, #no{
    
    border-radius:2px;
    border:2px solid #7D1935;
    font-family: 'Cardo';
}

#newMember:hover, #searchButton:hover, #changeButton:hover, #deleteButton:hover,#allMembers:hover,#ok:hover,#no:hover,#newMember:focus, #searchButton:focus, #changeButton:focus, #deleteButton:focus, #allMembers:focus, #ok:focus, #no:focus{

    font-weight:bold;
}

#modal {
    
    visibility: hidden;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:1;
    background-color:rgba(192,192,192,0.3);
}

#modalcontent{
    
    position: relative; 
    overflow:auto;
    line-height:150%;
    width:500px;
    height:500px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    background-color:rgba(255,255,255,1.0);
}

#modalcontent p{
    
    font-size:20px;
}

#modalcontent p, #modalcontent h3{
    
    text-align:left;
    margin-left:20px;
}

#modalcontent h2{
    
    font-family: 'Old Standard TT';
    font-size:40px;
    text-align:center;
}

#modalcontent h3{
    
    color:#5B0101;
}

#modalcontent .medlemnr{
     
    color:#5B0101;
    font-size:140%;
    font-family: 'Cardo';
    text-decoration:underline
}

#ok{
    position: absolute;
    margin-bottom:20px;
    padding:5px;
}

#no{
    position: absolute;
    margin-bottom:20px;
    margin-left:-100px;
    padding:5px;
}

#t1,#t2,#t3{
    
    margin-left:-270px;
}


